<tr id="phase_<%= phase.id %>" data-sortable-url="<%= update_order_phases_admin_phases_path(phase) %>" data-phase-id="<%= phase.id %>" class="border-b border-gray-200">
  <td class="py-2 pr-4" data-sortable-handle>
    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
    </svg>
  </td>
  <td class="py-2 pr-4">
    <label class="p-1 rounded font-bold" style="background-color: <%= phase.color %>; color: <%= phase.text_color %>;">
      <%= phase.name_capitalize %>
    </label>
  </td>
  <td class="py-2 pr-4"><%= phase.description %></td>
  <td class="py-2 pr-4">

    <%= render  'admin/phases/end_of_phase', phase: phase %>

  </td>
  <td data-controller="modals" class="flex flex-wrap gap-1 py-2 pr-4">
    <%= link_to "Editar", edit_admin_phase_path(phase), class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded text-nowrap',
        data: { turbo_frame: "modal", turbo_prefetch: "false", url: edit_admin_phase_path(phase), action: "click->modals#openModal" } %>
    <button type="button" onclick="openModal(<%= phase.id %>)" class="px-2 py-1 font-bold text-white bg-red-500 rounded hover:bg-red-600">Excluir</button>
  </td>
</tr>