<% if request.headers['Turbo-Frame'] == 'modal' %>
  <%= turbo_frame_tag "modal", data: { modals_target: "modal" } do %>
    <div data-controller="modals">
      <div data-action="click->modals#close" data-url="<%= admin_phases_path %>" class="fixed inset-0 bg-gray-600 bg-opacity-50 z-40 "></div>
      <div id="modal-content" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 w-full max-w-lg md:max-w-xl lg:max-w-2xl px-4">
        <div class="bg-white rounded-lg shadow-lg p-6 w-full relative">
          <button id="close-modal" data-action="modals#close" data-url="<%= admin_phases_path %>" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          <%= render "edit", phase: @phase %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="px-8 py-4">
    <%= render "edit", phase: @phase %>
  </div>
<% end %>