<div id="menu" class="absolute top-0 left-0 hidden h-screen bg-gray-800 lg:static lg:block min-w-72 w-fit">
  <div class="flex items-center justify-center px-4 py-3 border-b border-gray-700">
    <%= image_tag("logo.png", :alt => "Aliato", :class => "h-8") %>
  </div>
  
  <div class="pt-4">
     <% unless current_page?(root_url) %>
        <div class="py-4">
           <a href="javascript:history.back()" id="back-button" class="pb-6 font-bold text-blue-500 hover:text-blue-700 lg:hidden">← Voltar</a>
          </div>
      <% end %>
     
    <ul>
      <% if current_user.admin? %>
        <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'operators' %>">
          <i class="fa-solid fa-user text-gray-300 pr-2"></i><%= link_to 'Operador', admin_operators_path, class: "text-gray-300 text-nowrap hover:text-gray-200" %>
        </li>
        <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'phases' %>">
          <i class="fa-solid fa-bars-staggered text-gray-300 pr-2"></i><%= link_to 'Fase de Projeto', admin_phases_path, class: "text-gray-300 text-nowrap hover:text-gray-200" %>
        </li>
      <% elsif current_user.operator? && !current_user.is_reset_password %>
        <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'individuals' %>">
          <i class="fa-solid fa-users text-gray-300 pr-2"></i><%= link_to 'Pessoa Física', admin_operators_individuals_path, class: "text-gray-300 text-nowrap hover:text-gray-200" %>
        </li>
        <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'companies' %>">
          <i class="fa-solid fa-building-user text-gray-300 pr-2"></i><%= link_to 'Pessoa Jurídica', admin_operators_companies_path, class: "text-gray-300 text-nowrap hover:text-gray-200" %>
        </li>
        <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'projects' && params[:phase_id].nil? %>">
           <i class="fa-solid fa-sheet-plastic text-gray-300 pr-4"></i><%= link_to 'Visualizar Projetos', admin_operators_projects_path, class: "text-gray-300 text-nowrap hover:text-gray-200" %>
        </li>
        <% Phase.where(is_end: [false, nil]).select(:id, :name, :projects_count).order('position ASC').each do |phase| %>
          <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'projects' && params[:phase_id].to_i == phase.id %>">
            <%= link_to "• #{phase.name.capitalize} (#{phase.projects_count})", admin_operators_projects_path(phase_id: phase.id), class: "text-gray-300 text-nowrap hover:text-gray-200" %>
          </li>
        <% end %>
        <% Phase.where(is_end: true).select(:id, :name).order('position ASC').each do |phase| %>
          <li class="mb-1 pl-4 py-2 <%= 'bg-gray-700' if controller.controller_name == 'projects' && params[:phase_id].to_i == phase.id %>">
            <%= link_to "• #{phase.name.capitalize}", admin_operators_projects_path(phase_id: phase.id), class: "text-gray-300 text-nowrap hover:text-gray-200" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>