<!DOCTYPE html>
<html>
  <head>
    <title>Aliato Project Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <main>
      <% if user_signed_in?%>
        <div class="flex">
          <%= render 'layouts/sidebar' %>
          <div class="flex-1 flex flex-col">
            <%= render 'layouts/header' %>
            <div class="pl-64">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
