<!DOCTYPE html>
<html>
  <head>
    <title>Aliato Project Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="icon" href="/assets/logo-pwa.png" type="image/png">
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%#= debugbar_head %>
  </head>
  <body>
    <main>
      <% if user_signed_in?%>
        <div class="flex">
          <%= render 'layouts/sidebar' %>
          <div class="flex flex-col w-full min-h-screen">
            <%= render 'layouts/header' %>
            <div id="application-body" class="h-full">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <%#= debugbar_body %>
    <script>
      document.getElementById('application-body').addEventListener('click', () =>
        document.getElementById('menu').classList.add('hidden')
      );
    </script>
  </body>
</html>
